%header
  %h3= t '.account_settings'
= form_for current_user, :url => settings_account_path, :validate => true do |f|
  %fieldset

    .control-group
      .control-label
        = f.label :locale
      .controls
        = f.select :locale, AllowLocale.map{|locale| [t(locale), locale]}, {}, :class => 'span3'

    = f.submit t('save'), :class => 'btn primary'
