%header
  %h3= t '.profile_settings'
= form_for current_user.profile, :url => settings_profile_path, :validate => true do |f|
  %fieldset
    .control-group
      .control-label
        = f.label :avatar
      .controls
        .avatar= image_tag current_user.gravatar_url(:size => 160)
        %p
          = link_to t('.change_email'), settings_account_path
          = '/'
          = link_to t('.go_to_gravatar'), 'http://www.gravatar.com', :rel => 'external'
    .control-group
      .control-label
        = f.label :true_name
      .controls
        = f.text_field :true_name, :class => 'span3'

    = f.submit t('save'), :class => 'btn primary'
