%header
  %h3= t '.profile_settings'
= form_for current_user.profile, :url => settings_profile_path, :validate => true do |f|
  %fieldset
    .control-group
      .control-label
        = f.label :avatar
      .controls
        .avatar= image_tag current_user.gravatar_url(:size => 160)
        %p
          = link_to t('.go_to_gravatar_to_edit'), 'http://www.gravatar.com', :rel => 'external'

    .control-group
      %strong Email
      = current_user.email
    .control-group
      %strong Nick name
      = current_user.profile.name
    .control-group
      %strong Location
      = current_user.profile.location
    .control-group
      %strong Person URL
      = current_user.profile.url
    .control-group
      %strong Company
      = current_user.profile.company
    .control-group
      %strong Bio
      = current_user.profile.description
    .control-group
      = link_to "Go to github to edit your above info", "https://github.com"

    .control-group
      .control-label
        = f.label :true_name
      .controls
        = f.text_field :true_name, :class => 'span2'

    .control-group
      .control-label
        = f.label :stackoverflow_url
      .controls
        = f.text_field :stackoverflow_url, :class => 'span4'

    .control-group
      .control-label
        = f.label :private_atom_token
      .controls
        = f.text_field :private_atom_token, :class => 'span4'

    = f.submit t('save'), :class => 'btn primary'
